.footer {
  background: $tertiary-color;
  padding: 32px 64px;
  &__icon {
    display: inline-block;
    margin: 10px 25px;
    color: white;
  }
  &__icon:hover {
    color: $primary-color-highlight;
    cursor: pointer;
  }
}