$brightest-orange:#ffd6bf;
$bright-orange: #a87773;
$base-orange: #cb2d3e;
$dark-orange:#870734;
$darkest-orange:#30122d;

$main-pink: #FCB7A8;
$main-orange: #ED6A40;
$main-gray: #758086;

$base-blue: #A8D0E6;
$base-pink: #F76C6C;