// Horizon Theme
// https://marketplace.visualstudio.com/items?itemName=jolaleye.horizon-theme-vscode
$background: #1C1E26;
$background-accents: #6C6F93;
$text-main: #FAC39A;
$text-accents: #E95378;
$text-highlight: #21BFC2;

$tablet: 738px;