.about-me {
  display: flex;
  justify-content: center;
  &__slider {
    width: 50%;
    max-height: 50%;
    display: inline-block;
  }
  &__slider-item {
    justify-content: center;
    display: flex !important;
    padding-bottom: 10px;
    img {
      background-color: black;
      height: 300px;
    }
  }
}