.about-me {

  &__content {
    font-size: 1rem;
    width: 90%;
  }

  &__slider-container {
    width: 90%;
    max-height: 50%;
  }

  &__slider-item {
    justify-content: center;
    display: flex !important;
    padding-bottom: 10px;

    img {
      background-color: black;
      height: 300px;
    }

  }
  
  .slick-dots {
    li {
      button::before {
        color: $text-accents;
        opacity: 1;
        font-size: 0.5rem;
      }
    }
    .slick-active {
      button::before {
        color: $text-highlight;
      }
    }
  }
}

@media only screen and (min-width: $tablet) {
  .about-me {
    &__content {
      width: 50%;
    }
  }
}