.about-me {
  display: flex;
  align-items: center;
  flex-direction: column;

  &__content {
    width: 90%;
  }

  &__slider-container {
    width: 90%;
    max-height: 50%;
  }

  &__slider-item {
    justify-content: center;
    display: flex !important;
    padding-bottom: 10px;

    img {
      background-color: black;
      height: 300px;
    }

  }
  
  .slick-dots {
    li {
      button::before {
        color: $text-accents;
        opacity: 1;
        font-size: 0.5rem;
      }
    }
    .slick-active {
      button::before {
        color: $text-highlight;
      }
    }
  }

}