body {
  font-size: 1.5rem;
  background: $background;
  color: $text-main;
  
  a {
    text-decoration: none;
    text-shadow: none;
    background: none;
  }
  
  strong { 
    color: $text-accents 
  }

  .title { 
    color: $text-main; 
  }
  
  .body-text { 
    color: $text-main 
  }

  .is-underlined {
    border-bottom: 1px solid $text-accents;
    padding-bottom: 10px;
  }

  .is-bordered {
    border:1px solid $text-highlight;
    border-radius: 16%;
    padding: 10px;
    cursor: pointer;
    color: $text-highlight;
    transition: background 0.5s linear;
  }

  a:hover, a.is-active {
    background: $text-highlight;
    color: black;
  }

}

@media only screen and (min-width: $tablet) {
  
  .main {
    font-size: 2rem;
  }

}