.experience {

  &__timeline {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1rem;
    padding-left: 5%;

    h3 {
      color: $text-accents;
    }

    h4 {
      color: white;
    }

    &-image {
      width: 20%;
    }
  }
}