.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 50px;

  &__header {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
  }
  
  &__header {
    text-align: center;
    display: inline;
  }

  p {
    margin: 1rem 0;
  }

  &__profile-wrapper {
    background: $background-light;
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 10.5rem;
    height: 10.5rem;
    border-radius: 50%;
  }

  &__profile {
    border-radius: 50%;
    width: 10rem;
    height: 10rem;
    margin: auto;
  }

  &__nav {
    font-size: 1.5rem;
    display: none;
  }
}

@media only screen and (min-width: $tablet) {
  .hero {
    padding-top: 0px;

    &__nav {
      display: inline-block;
      font-size: 1rem;
      a {
        margin: 0 10px;
      }
    }
  }
}