.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__header {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
  }
  
  &__header > h1, h2 {
    text-align: center;
    color: $text-main;
    display: inline;
    font-size: 20px;
    
    strong {
      color: $text-accents;
    }
  }

  &__profile-wrapper {
    background: $background-accents;
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 10.5rem;
    height: 10.5rem;
    border-radius: 50%;
  }

  &__profile {
    border-radius: 50%;
    width: 10rem;
    height: 10rem;
    margin: auto;
  }

  &__nav {
    a {
      outline: 1rem;
      color: $text-highlight;
    }
  }
}

@media only screen and (min-width: $tablet) {
  .hero {
    &__header > h1, h2 {
      font-size: 32px;
    }
  }
}