@import 'variables';

a {
  text-decoration: none;
  background-image: none;
  text-shadow: none;
}

.navbar {
  position: fixed;
  top: 0;
  height: 50px;
  padding: 1rem 0;
  width: 100%;
  transition: all 0.5s linear;
  &.is-solid {
    background-color: $base-blue;
    box-shadow: rgba(0,0,0,.12) 0 1px 6px, rgba(0,0,0,.12) 0 1px 4px;
  }
  h1 {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: $base-blue;
  &__header {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
  }
  
  &__header > h1, h2 {
    text-align: center;
    color: white;
    display: inline;
    strong {
      color: $base-pink;
    }
  }

  &__profile-wrapper {
    background: white;
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 11rem;
    height: 11rem;
    border-radius: 50%;
    box-shadow: 10px 10px 8px #888888;
  }

  &__profile {
    border-radius: 50%;
    width: 10rem;
    height: 10rem;
    margin: auto;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: $base-dark-blue;
  color: white;
  
  h1 {
    color: white;
    border-bottom: 1px solid $base-pink;
  }

  .icon {
    transition: all 0.25s linear;
    color: white;
  }
  
  &__icon-wrapper {
    background: white;
    border-radius: 50%;
  }

  .icon:hover {
    color: $base-pink;
    cursor: pointer;
  }

  &__contact {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0.725rem 0 2.175rem 0;
  }
}