@import 'variables';

.front {
  height: 100vh;
  
  &__container {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  &__icon-list {
    list-style: none;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__contact {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly
  }
}