.section-navigation {
  position: fixed;
  top: 0px;
  width: 100vw;
  padding: 10px;
  background: $background-light;
  transition: all 0.5s ease;
  font-size: 1rem;
  z-index: 100;

  &.is-floating {
    width: 100vw;
    top: 0px;
    position: fixed;
    z-index: 64;
    background: $background-light;
  }
  
  a {
    background-image: none;
    color: $text-highlight;
    box-sizing: border-box;
    margin: 10px;
  }

  &__cover.is-open {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  
  &__hamburger {
    width: 50px;
    background-color: $background;
    z-index: 8;
    padding: 10px;
    display: block;
    border-radius: 16%;
    font-size: 1rem;
    
    &.is-open {
      background-color: $text-highlight;
      color: $background;
    }
  }
  
  &__links {
    display: none;
    background: $background-light;
    top: 50px;
    left: 10px;
    flex-direction: column;

    &.is-open {
      display: flex;
      margin-top: 10px;
      width: 100vw;
    }

    &.is-floating {
      background: $background-light;
    }
  }
  
}

@media only screen and (min-width: $tablet) {
  
  .section-navigation {
    display: flex;
    font-size: 1rem;
    position: initial;
    justify-content: center;
    background: $background;
    
    &__hamburger {
      display: none;
    }
    
    &__links {
      display: flex;
      flex-direction: row;
      position: initial;
      background: $background;
      transition: all 0.5s ease;
    }

  }

}