.section-navigation {

  a {
    background-image: none;
    color: $text-highlight;
    box-sizing: border-box;
    margin: 0 10px;
  }

  a:hover {
    background: $text-highlight;
    color: black;
  }

  .is-bordered {
    border:1px solid $text-highlight;
    border-radius: 16%;
    padding: 10px;
    cursor: pointer;
    color: $text-highlight;
    transition: background 0.5s linear;
  }

  &__hamburger {
    width: 50px;
    background-color: $background;

    &.is-open {
      background-color: $text-highlight;
      color: $background;
    }
  }

  font-size: 1.5rem;
  display: none;
}

@media only screen and (min-width: $tablet) {
  .section-navigation {
    display: inline-block;
    font-size: 1rem;
  }
}