$variable-columns: false;
@import "~bulma/bulma";

html, body, #app {
  height: 100%;
}
#app {
  min-height: 100%;
  //display: flex;
  //flex-direction: column;
}

.container {
  &__main {
    justify-content: center
  }
}

.footer {
  margin-top: -12px;
}

.section__menu, .navbar {
  background-image: linear-gradient(135deg, rgb(240, 0, 121), rgb(242, 160, 65) 75%);
  box-shadow: 5px 0 20px -5px #333;
}

.navbar {
  padding-top: 15px;
  overflow: hidden;
  position: fixed;
  top: 0;
  .title {
    padding-right: 1.0rem;
    font-size: 4.0vw;
    margin-top: 14px;
    margin-left: 10px;
  }
  img {
    height: 3rem;
    width: 3rem;
    margin-left: 1rem;
  }
}

.menu {
  position: fixed;
  z-index: 1;
  top: 0;
  height: 100%;
  overflow-x: hidden;
  h1, h2 { 
    font-size: 2.0vw;
  }
}

.active {
  color: black !important;
  background: white;
}

.menu,.navbar {
  h1, h2 {
    color: white;
    padding-left: 0.5rem;
    text-shadow: none;
    text-align: center;
    color: white;
    white-space: pre-wrap;
  }
  li {
    &:hover {
      color: black;
    }
  }
  h2 {
    &:hover {
      color: black;
    }
  }
  a {
    margin: 10px 0px 0px 10px;
    color: white;
    text-align: center;
    text-shadow: none;
    font-size: 2.0vw;
    background-image: none;
  }
  img {
    border-radius: 50%;
  }
  &__icon-container {
    text-align: center;
  }
  .icon {
    margin: 10px 10px;
    color: white;
    &:hover {
      color: black;
      cursor: pointer;
    }
  }
}

.is-hidden-web {
  display: none !important;
}

@media screen and (max-width: 769px) {
  .is-hidden-mobile {
    display: none !important;
  }
  .is-hidden-web {
    display: block !important;
  }
  .main-content {
    margin-top: 40px;
  }
}